formats/xml/draft_v4/PSI-ID_schema-v4.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                     xmlns:idf="http://psi.hupo.org/id/idf100"
                     targetNamespace="http://psi.hupo.org/id/idf100" elementFormDefault="qualified"
                     attributeFormDefault="unqualified">
    
    <!--root element-->
    
    <xs:element name="entrySet" type="idf:entrySet">
        <xs:annotation>
            <xs:documentation>Root element of the Intrinsic Disorder Format</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="entrySet">
        <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded" type="idf:entry">
                <xs:annotation>
                    <xs:documentation>
                        Describes one or more structural states of one or more IDP regions as a self-contained unit. Multiple entries 
                        from different files can be concatenated into a single entrySet. Grouping within an entry will likely be based 
                        on publication or protein.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="level" type="xs:int" use="required" fixed="1">
            <xs:annotation>
                <xs:documentation>PSI-ID level</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="version" type="xs:int" use="required" fixed="0">
            <xs:annotation>
                <xs:documentation>PSI-ID version within given level</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="minorVersion" type="xs:int" use="optional" fixed="0"/>
    </xs:complexType>
    
    
    <!--entry-->
    
    <xs:complexType name="entry">
        <xs:sequence>
            <xs:element name="source" type="idf:source" minOccurs="0"/>
            <xs:element name="bibliographyList" type="idf:bibliographyList" minOccurs="0"/>
            <xs:element name="moleculeList" type="idf:moleculeList" minOccurs="0"/>
            <xs:element name="experimentalConstructList" type="idf:experimentalConstructList" minOccurs="0"/>
            <xs:element name="experimentalSampleList" type="idf:experimentalSampleList" minOccurs="0"/>
            <xs:element name="experimentalConditionSetList" type="idf:experimentalConditionSetList" minOccurs="0"/>
            <xs:element name="experimentList" type="idf:experimentDescriptionList" minOccurs="0"/>
            <xs:element name="structureStateList" type="idf:structureStateList" minOccurs="1"/>
            <xs:element name="attributeList" type="idf:attributeList" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <!--MAIN ELEMENTS OF ENTRY-->
    
    
    <!--source-->
    
    <!-- 
        in the PSI-MI schema this element is mainly used to annotate the interaction database originally 
        holding the interaction data record, as different databases regularly exchange data, in which case 
        they want to be able to indicate the original source database 
    -->
    
    <xs:complexType name="source">
        <xs:annotation>
            <xs:documentation>
                Desciption of the source of the entry, usually a database that holds the entry, but possibly also a submitting 
                organisation, group, experimentalist, or consortium.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Name(s) of the data source.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bibref" type="idf:bibref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Bibliographic reference for the data source.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="idf:xref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Unambiguous identification of the source by a CV term; for instance, the primary reference with attributes 
                        db="psi-mi" dbAc="MI:0488" id="MI:1332" refType="identity" refTypeAc="MI:0356" refers to source bhf-ucl, 
                        which is identical to term MI:1332 in PSI-MI CV, which lists itself as term MI:0488. For this we need to 
                        define similar PSI-ID CV terms.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="attributeList" type="idf:attributeList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Further description of the source.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="release" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="releaseDate" type="xs:date" use="optional"/>
    </xs:complexType>
    
    
    <!--bibliography-->
    
    <xs:complexType name="bibliographyList">
        <xs:annotation>
            <xs:documentation>
                List of all publications occurring in the entry, i.e. all publications in which all experiments and inferred structure 
                states captured in the entry are described.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="bibref" type="idf:bibref" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Bibliographic reference. The PubMed primary reference is added to the xref element of bibref and publication 
                        details (e.g. title) can be described in the attributeList of the bibref element. The type of bibliographic 
                        attribute is controlled by the PSI-ID CV.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    
    <!--molecules-->
    
    <xs:complexType name="moleculeList">
        <xs:annotation>
            <xs:documentation>
                List of all molecules (in their native state) occurring in the entry, i.e. all molecules from which regions/experimental
                constructs described in the entry are derived.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="molecule" type="idf:molecule" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        A molecule object in its native state, as described in a database (UniProt). A protein must contain an xref to 
                        UniProt and NCBI-GI where possible.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="molecule">
        <xs:annotation>
            <xs:documentation>
                Describes a source molecule in its native/wild-type state.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names">
                <xs:annotation>
                    <xs:documentation>
                        The name(s) for the molecule, including short and long protein names, gene name, and author assigned names used
                        in the publication. The type of name is controlled by the PSI-ID CV. The short label is typically a short name 
                        that could appear as a label on a diagram.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="idf:xref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        A molecule should have an xref whenever possible. If the molecule is not available in an external database, it 
                        must be characterised within this object, e.g. by its sequence.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="moleculeType" type="idf:cvType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The molecule type, e.g. protein. This element is controlled by a controlled vocabulary, maybe protein ontology 
                        (PRO) or Chebi, or by the PSI-ID CV.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organism" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The normal source organism of the molecule.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="idf:bioSource"/>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="sequence" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The sequence of the molecul in one-letter code and uppercase, as it is described in the external resource or 
                        as given by the author, for instance in case of a synthetic protein.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="attributeList" type="idf:attributeList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Semi-structured additional annotation of the molecule.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>
                    All major objects have a numerical id which is unique to that object within a PSI-ID file, and can be used for 
                    internal referencing. The object may be repeated, though, e.g. in the denormalised representation.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    
    <!--experimental constructs-->
    
    <xs:complexType name="experimentalConstructList">
        <xs:annotation>
            <xs:documentation>
                List of all experimental constructs occurring in the entry, i.e. all constructs analysed in the experiment(s).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="experimentalConstruct" type="idf:experimentalConstruct" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        The molecular construct that was actually used in the experiment(s).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="experimentalConstruct">
        <xs:annotation>
            <xs:documentation>
                The molecular construct that was actually used in the experiment(s).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The name(s) of the experimental construct given by the authors of a publication.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="idf:xref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The xref(s) for the construct given by the authors of a publication.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="experimentalConstructRange" type="idf:baseLocation" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Location (start and end position) of the experimental construct on the sequence of the source molecule given in 
                        the molecule object.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sequence" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The sequence of the experimental construct as it was used in the experiment(s), in one-letter code and uppercase, 
                        including any mutations and tags.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:choice>
                <xs:annotation>
                    <xs:documentation>
                        Identification of the source molecule from which the experimental construct is derived, either by refering to 
                        an already described molecule in this entry (in moleculeList, for compact form), or by fully describing the 
                        source molecule.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="moleculeRef" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            References a source molecule described in the moleculeList of the entry (for compact form), using the 
                            internal ID of the corresponding molecule object.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="molecule" type="idf:molecule">
                    <xs:annotation>
                        <xs:documentation>
                            Fully describes a source molecule (in expanded form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="moleculeIdentificationMethodList" type="idf:moleculeIdentificationMethodList" minOccurs="0"/>
            <xs:element name="experimentalPreparationList" type="idf:experimentalPreparationList" minOccurs="0"/>
            <xs:element name="featureList" type="idf:featureList" minOccurs="0"/>
            <xs:element name="hostOrganism" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The organism in which the experimental construct is expressed.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="idf:bioSource"/>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="attributeList" type="idf:attributeList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Semi-structured additional description of the experimental construct.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
    
    
    <!--sample description-->
    
    <xs:complexType name="experimentalSampleList">
        <xs:annotation>
            <xs:documentation>
                All samples subjected to an experimental method to infer structure state(s) of of one or more protein regions.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="experimentalSample" type="idf:experimentalSample" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Describes one experimental sample as it was used in the experiment(s).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="experimentalSample">
        <xs:annotation>
            <xs:documentation>
                Describes one experimental sample as it was used in the experiment(s).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names" minOccurs="0"/>
            <xs:element name="sampleEntityList" type="idf:sampleEntityList" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Description of the experimental construct(s) present in the sample.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sampleComponent" type="idf:sampleComponent" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Description of an additional component present in the sample, besides the experimental construct(s) of interest,
                        e.g. urea.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>
                    All major objects have a numerical id which is unique to that object within a PSI-ID file, and can be used for 
                    internal referencing. The object may be repeated, though, e.g. in the denormalised representation.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="sampleEntityList">
        <xs:annotation>
            <xs:documentation>
                Description of the experimental construct(s) present in the sample.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sampleEntity" type="idf:sampleEntity" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Describes one experimental construct present in the sample, either by referring to a construct already described
                        in the experimentalConstructList of the entry (for compact form) or by fully describing a construct.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="sampleEntity">
        <xs:annotation>
            <xs:documentation>
                Describes one experimental construct present in the sample, either by referring to a construct already described in the 
                experimentalConstructList of the entry (for compact form) or by fully describing a construct, together with the value
                and unit of its concentration in the sample.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="experimentalConstructRef" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            References an experimental construct described in the experimentalConstructList of the entry (for compact 
                            form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="experimentalConstruct" type="idf:experimentalConstruct">
                    <xs:annotation>
                        <xs:documentation>
                            Fully describes an experimental construct (in expanded form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="unit" type="idf:openCvType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Unit for the amount of experimental construct in this sample.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Value of the amount of experimental construct in this sample.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="sampleComponent">
        <xs:annotation>
            <xs:documentation>
                Describes one additional component of the sample, besides the experimental construct(s) of interest.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names">
                <xs:annotation>
                    <xs:documentation>
                        The name of the sample component.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="idf:xref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        A sample component should have an xref (generally chebi) whenever possible.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unit" type="idf:openCvType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Unit for the amount of the component in this sample.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="xs:decimal" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Value of the amount of the component in this sample.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>    
    
    
    <!--sample conditions-->
    
    <xs:complexType name="experimentalConditionSetList">
        <xs:annotation>
            <xs:documentation>
                Sets of conditions applied for experiments.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="experimentalConditionSet" type="idf:experimentalConditionSet" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Describes set(s) of experimental parameters applied in the experiment(s).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="experimentalConditionSet">
        <xs:annotation>
            <xs:documentation>
                Describes one set of conditions applied in the experiment(s).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="experimentalCondition" type="idf:experimentalCondition" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Describes one experimental condition, e.g. temperature, pH, ionic strength.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>
                    All major objects have a numerical id which is unique to that object within a PSI-ID file, and can be used for 
                    internal referencing. The object may be repeated, though, e.g. in the denormalised representation.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>   
            
    <xs:complexType name="experimentalCondition">
        <xs:annotation>
            <xs:documentation>
                Describes one experimental condition, e.g. temperature, pH, ionic strength.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names">
                <xs:annotation>
                    <xs:documentation>
                        The name of the experimental condition, e.g. temperature.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="idf:xref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        An experimental condition should have an xref to a CV whenever possible.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="unit" type="idf:openCvType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Unit of the condition.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="value" type="xs:decimal">
                <xs:annotation>
                    <xs:documentation>
                        Value of the condition.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    
    <!--experiments-->
    
    <xs:complexType name="experimentDescriptionList">
        <xs:annotation>
            <xs:documentation>
                All experiments from which the structure states described in this entry have been inferred. An experiment can also be a 
                computational prediction using a disorder prediction tool.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="experimentDescription" type="idf:experimentDescription" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Describes one set of experimental parameters (1 method, 1 sample, 1 set of conditions), usually associated with 
                        a single publication, as well as the structure state(s) for one or more regions that were inferred from this 
                        experiment.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="experimentDescription">
        <xs:annotation>
            <xs:documentation>
                Describes one set of experimental parameters (1 method, 1 sample, 1 set of conditions), usually associated with a single 
                publication, as well as the structure state(s) for one or more regions that were inferred from this experiment.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names" minOccurs="0"/>
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Describes the publication in which the experiment is reported, either by referring to a publication already 
                        described in the bibliographyList of the entry (for compact form) or by fully describing a publication here.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="bibliographyRef" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            References a publication previously described in the bibliographyList of the entry (for compact form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="bibref" type="idf:bibref">
                    <xs:annotation>
                        <xs:documentation>
                            Fully describes a publication (in expanded form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="xref" type="idf:xref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Cross-reference to an external database where the experiment/experimental data is described, for instance 
                        BMRB or PDB.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hostOrganism" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The organism in which the experiment was performed. This can also be 'in vitro' (-1) or 'in silico' (-5).
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="idf:bioSource"/>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="structureDeterminationMethod" type="idf:cvType">
                <xs:annotation>
                    <xs:documentation>
                        Experimental method to determine the structure. This element is controlled by the ECO controlled vocabulary.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="moleculeIdentificationMethodList" type="idf:moleculeIdentificationMethodList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Experimental method(s) to identify the molecule(s)/experimental construct(s) in this experiment. This element is 
                        controlled by the ECO controlled vocabulary. If this element is filled it is assumed to apply to all experimental 
                        constructs used in the experiment, but it can be overridden by the moleculeIdentificationMethod given in the 
                        description of the individual construct.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Describes the sample analysed in the experiment, either by referring to a sample already described in the 
                        experimentalSampleList of the entry (for compact form) or by fully describing a sample here.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="experimentalSampleRef" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            References an experimental sample previously described in the experimentalSampleList of the entry (for compact 
                            form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="experimentalSample" type="idf:experimentalSample">
                    <xs:annotation>
                        <xs:documentation>
                            Fully describes an experimental sample (in expanded form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:choice minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Describes the sample conditions applied in the experiment, either by referring to a set of conditions already 
                        described in the experimentalConditionList of the entry (for compact form) or by fully describing a set of 
                        conditions.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="experimentalConditionSetRef" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            References a set of experimental conditions already described in the experimentalConditionSetList of the 
                            entry (for compact form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="experimentalConditionSet" type="idf:experimentalConditionSet">
                    <xs:annotation>
                        <xs:documentation>
                            Fully describes a set of experimental conditions (in expanded form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="attributeList" type="idf:attributeList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Semi-structured additional description of the experiment.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>
                    All major objects have a numerical id which is unique to that object within a PSI-ID file, and can be used for 
                    internal referencing. The object may be repeated, though, e.g. in the denormalised representation.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="experimentList">
        <xs:annotation>
            <xs:documentation>
                Describes all experiments from which this structure state has been inferred, either by referring to an experiment 
                already described in the experimentList of the entry (for compact form) or by fully describing an experiment here. 
                An experiment can also be a computational prediction using a disorder prediction tool.
            </xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:annotation>
                <xs:documentation>
                    Describes one or more experiments from which this structure state for this region was inferred, either by referring 
                    to an experiment already described in the experimentList of the entry (for compact form) or by fully describing an 
                    experiment here.
                </xs:documentation>
            </xs:annotation>
            <xs:element name="experimentRef" type="xs:int">
                <xs:annotation>
                    <xs:documentation>
                        References an experiment previously described in the experimentList of the entry (for compact form).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="experimentDescription" type="idf:experimentDescription">
                <xs:annotation>
                    <xs:documentation>
                        Fully describes an experiment (in expanded form).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    
    
    <!--structure states-->
    
    <xs:complexType name="structureStateList">
        <xs:annotation>
            <xs:documentation>
                List of structure states for one or more regions of experimental construct(s)/molecule(s) inferred from experimental data.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="structureState" type="idf:structureState" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="structureState">
        <xs:annotation>
            <xs:documentation>
                A structural state for a single region of a single experimental construct/molecule inferred from experimental data.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Name for the inferred structure state.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="idf:xref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Reference to an external resource describing this structure state inferred for this region.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="experimentList" type="idf:experimentList" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Reference to one or more experiments from which this structure state was inferred for this region.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="structureStateType" type="idf:cvType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        External controlled vocabulary term from the IDPO CV describing the structure state type, currently with only 
                        the binary classification of "order" and "disorder".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:annotation>
                    <xs:documentation>
                        Identification of the region of a construct or a molecule for which this structure state was inferred, by 
                        describing the experimental construct used in the experiment, either by referring to a construct described in 
                        the experimentalConstructList of the entry (for compact form) or by fully describing a construct. In case 
                        information on the used construct is not available or the experiment describes a computational prediction, the 
                        molecule to which this structure state applies should be given, either by referring to an already defined 
                        molecule in this entry (in moleculeList, for compact form), or by fully describing the source molecule.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="moleculeRef" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            References a source molecule described in the moleculeList of the entry (for compact form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="molecule" type="idf:molecule">
                    <xs:annotation>
                        <xs:documentation>
                            Fully describes a source molecule (in expanded form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="experimentalConstructRef" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            References an experimental construct described in the experimentalConstructList of the entry (for compact 
                            form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="experimentalConstruct" type="idf:experimentalConstruct">
                    <xs:annotation>
                        <xs:documentation>
                            Fully describes an experimental construct (in expanded form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="structureStateRegionRange" type="idf:baseLocation" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Position (start and end position) on the tested construct/molecule of the region for which the given structure 
                        state was inferred, i.e. with respect to the sequence given for the experimental construct.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sequence" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Sequence of the region for which the given structure state was inferred, in one-letter code and in uppercase.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="attributeList" type="idf:attributeList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Semi-structured additional description of the inferred structure state.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
    
    <!--
    <xs:complexType name="inferredStructureStateList">
        <xs:annotation>
            <xs:documentation>
                List of structure states for one or more regions of experimental construct(s)/molecule(s) inferred from this experiment.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="inferredStructureState" type="idf:inferredStructureState" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="inferredStructureState">
        <xs:annotation>
            <xs:documentation>
                A structural state for a single region of a single experimental construct/molecule inferred from this experiment.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Name for the inferred structure state.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="idf:xref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Reference to an external resource describing this structure state for this region as inferred from this 
                        experiment.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="structureStateType" type="idf:cvType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        External controlled vocabulary term from the IDPO CV describing the structure state type, currently with only 
                        the binary classification of "order" and "disorder".
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:annotation>
                    <xs:documentation>
                        Identification of the region of a construct or a molecule for which this structure state was inferred, by 
                        describing the experimental construct used in the experiment, either by referring to a construct described in 
                        the experimentalConstructList of the entry (for compact form) or by fully describing a construct. In case 
                        information on the used construct is not available or the experiment described a computational prediction, the 
                        molecule to which this structure state applies should be given, either by referring to an already defined 
                        molecule in this entry (in moleculeList, for compact form), or by fully describing the source molecule.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="moleculeRef" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            References a source molecule described in the moleculeList of the entry (for compact form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="molecule" type="idf:molecule">
                    <xs:annotation>
                        <xs:documentation>
                            Fully describes a source molecule (in expanded form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="experimentalConstructRef" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            References an experimental construct described in the experimentalConstructList of the entry (for compact 
                            form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="experimentalConstruct" type="idf:experimentalConstruct">
                    <xs:annotation>
                        <xs:documentation>
                            Fully describes an experimental construct (in expanded form).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="structureStateRegionRange" type="idf:baseLocation" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Position (start and end position) on the tested construct/molecule of the region for which the given structure 
                        state was inferred, i.e. with respect to the sequence given for the experimental construct.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sequence" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Sequence of the region for which the given structure state was inferred, in one-letter code and in uppercase.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="attributeList" type="idf:attributeList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Semi-structured additional description of the inferred structure state.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
    -->
    
    <!--features-->
    
    <xs:complexType name="featureList">
        <xs:annotation>
            <xs:documentation>Sequence features of an experimental construct relevant for the structure state of the region, such as 
                PTM, or for instance experimental modifications, e.g. protein tags.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="feature" type="idf:feature" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="feature">
        <xs:annotation>
            <xs:documentation>
                A feature on a sequence of an experimental construct, or any modifications made to the source sequence.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Name(s) for the feature.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="idf:xref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Reference to an external description of the feature, e.g. PSI-MOD, ELM, interpro.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="featureType" type="idf:cvType" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The type of feature, controlled by the PSI-ID controlled vocabulary.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="featureDetectionMethodList" type="idf:featureDetectionMethodList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Experimental method(s) used to identify the feature, controlled by the ECO CV.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="featureRangeList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="featureRange" type="idf:baseLocation" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Location (start and end position) of the feature on the sequence of the experimental construct, i.e. with
                                    respect to the sequence given for the experimental construct. One feature may have more than one 
                                    featureRange, used for instance for features which involve sequence positions close in the folded, 
                                    three-dimensional state of a protein, but non-continuous along the sequence.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="attributeList" type="idf:attributeList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Semi-structured additional description of the data contained in the entry.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
    
    
    <!--CV type-->
    
    <xs:complexType name="cvType">
        <xs:annotation>
            <xs:documentation>
                Reference to an external controlled vocabulary.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names">
                <xs:annotation>
                    <xs:documentation>
                        Name of the controlled vocabulary term.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="idf:xref">
                <xs:annotation>
                    <xs:documentation>
                        Source of the controlled vocabulary term, e.g. the name of the CV and the term ID. The name of the CV and the 
                        type of reference are controlled by the PSI-ID CV.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="openCvType">
        <xs:annotation>
            <xs:documentation>
                Allows to reference an external controlled vocabulary, or to directly include a value if no suitable external 
                definition is available.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names">
                <xs:annotation>
                    <xs:documentation>
                        This contains the controlled vocabulary terms, as a short and optionally as a long 
                        form.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="xref" type="idf:xref" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Refers to the term of the controlled vocabulary in an external database (the name of the CV and the term ID). 
                        The name of the CV and the type of reference are controlled by the PSI-ID CV.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="attributeList" type="idf:attributeList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        If no suitable external controlled vocabulary is available, this attributeList can be used to describe the 
                        term. Example: Attribute name: Mouse atlas tissue name; attribute value: spinal cord, day 30.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    
    <!--names-->
    
    <xs:complexType name="names">
        <xs:annotation>
            <xs:documentation>
                Name(s) for an object.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="shortLabel" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        A short string, suitable to remember the object. Can be e.g. a protein name, the first author of a paper, etc.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fullName" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        A full, detailed name or description of the object. Can be e.g. the full title of a publication, or the 
                        scientific name of a species.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="alias" type="idf:alias" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="fullName">
        <xs:annotation>
            <xs:documentation>
                Full, descriptive object name.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- check if this is still used/necessary
    <xs:complexType name="label">
        <xs:annotation>
            <xs:documentation>
                A short alphanumeric label identifying an object. Not necessarily unique.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    -->
    
    <xs:complexType name="alias">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="typeAc" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="type" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    
    <!--source/host organism-->
    
    <xs:complexType name="bioSource">
        <xs:annotation>
            <xs:documentation>
                Describes the biological source of an object, in simple form only the NCBI taxid.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="names" type="idf:names" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The name(s) of the organism. The short label should be a common name if it exists. The full name should be the 
                        full name of the species (i.e. genus species).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cellType" type="idf:openCvType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Description of the cell type. Currently no species-independent controlled vocabulary for cell types (cell 
                        ontology?) is available, therefore the choice of reference database(s) is open to the data provider.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="compartment" type="idf:openCvType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        The subcellular compartment of the object. It is strongly recommended to refer to the Gene Ontology cellular 
                        component in this element.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tissue" type="idf:openCvType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Description of the source tissue. Currently no species-independent controlled vocabulary for tissues (BRENDA?) 
                        is available, therefore the choice of reference database(s) is open to the data provider.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ncbiTaxId" type="xs:int" use="required"/>
    </xs:complexType>
    
    
    <!--bibliographic and cross reference, both using dbRef type-->
    
    <xs:complexType name="bibref">
        <xs:annotation>
            <xs:documentation>
                Bibliographic reference. The PubMed primary reference is added to the xref element of bibref and publication details 
                (e.g. title) can be described in the attributeList of the bibref element. The type of bibliographic attribute is 
                controlled by the PSI-ID CV.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:sequence>
                <xs:element name="xref" type="idf:xref" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Bibliographic reference in an external database, usually PubMed. The name of the literature database is 
                            controlled by the PSI-ID.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="attributeList" type="idf:attributeList" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Additional description of the bibliographic reference such as publication title, authors, journal, 
                            publication date. The type of bibliographic attribute is controlled by the PSI-ID CV.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="attributeList" type="idf:attributeList" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Alternative description of the bibliographic reference if no external database entry is available.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="xref">
        <xs:annotation>
            <xs:documentation>
                Cross-reference to an external database. Cross-references to literature databases (e.g. PubMed) should not be put into 
                this structure, but into the bibRef element.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="primaryRef" type="idf:dbReference">
                <xs:annotation>
                    <xs:documentation>
                        Primary reference to an external database. The name of the external database and the type of reference are 
                        controlled by the PSI-ID CV.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="secondaryRef" type="idf:dbReference" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Further external objects describing the object.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="dbReference">
        <xs:annotation>
            <xs:documentation>
                Refers to a unique object in an external database, e.g. a protein in UniProt or an entry in DisProt.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="0">
            <xs:element name="attributeList" type="idf:attributeList"/>
        </xs:sequence>
        <xs:attribute name="db" use="required">
            <xs:annotation>
                <xs:documentation>
                    Name of the external database, controlled by the PSI-ID CV.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="dbAc" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Accession number of the term for the database in the PSI-ID CV (database citation branch).
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="id" use="required">
            <xs:annotation>
                <xs:documentation>
                    Primary identifier of the object in the external database, e.g. UniProt accession number.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="secondary" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Secondary identifier of the object in the external database, e.g. UniProt ID.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="version" use="optional">
            <xs:annotation>
                <xs:documentation>
                    The version number of the object in the external database.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="refType" use="optional">
            <xs:annotation>
                <xs:documentation>
                    Reference type, e.g. "identity" if this reference refers to an identical object in the external database, or 
                    "see-also" for additional information, controlled by the PSI-ID CV (cross-reference type branch).
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="refTypeAc" use="optional">
            <xs:annotation>
                <xs:documentation>
                    ID of the reference type term from the PSI-ID CV.
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    
    <!--within entry references-->
    
    <!-- check if this is still used/necessary
    <xs:complexType name="experimentRefList">
        <xs:annotation>
            <xs:documentation>
                Refers to a list of experiments within the same entry.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="experimentRef" type="xs:int" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        References an experiment already described in this entry.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    -->
    
    <!--experimental identification of molecule/experimental construct-->
    
    <xs:complexType name="moleculeIdentificationMethodList">
        <xs:annotation>
            <xs:documentation>
                The method(s) by which this experimental construct has been determined/identified. If this element is present, its 
                value supersedes experimentDescription/moleculeIdentificationMethod. This element is controlled by the ECO ontology.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="moleculeIdentificationMethod" type="idf:cvType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <!--experimental preparation of regions-->
    
    <xs:complexType name="experimentalPreparationList">
        <xs:annotation>
            <xs:documentation>
                Terms describing the experimental preparation of an experimental construct, controlled by the PSI-ID CV.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="experimentalPreparation" type="idf:cvType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <!--experimental detection of feature-->
    
    <xs:complexType name="featureDetectionMethodList">
        <xs:annotation>
            <xs:documentation>
                The method(s) by which the feature has been determined/identified. If this element is present, its value supersedes 
                experimentDescription/moleculeIdentificationMethod. This element is controlled by the ECO ontology.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="featureDetectionMethod" type="idf:cvType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    
    <!--location of a feature on a sequence-->
    
    <xs:complexType name="baseLocation">
        <xs:annotation>
            <xs:documentation>
                A location on a sequence defined by a start and end position. Both begin and end can be a defined position, a fuzzy 
                position, or undetermined. The start and stop position of an experimental construct is based on the sequence given for 
                the source molecule (molecule element). The start and stop positions of regions of a molecule or experimental construct 
                for which a structure state was inferred, as well as the start and stop positions of features on the experimental construct 
                are mapped to the sequence given for the experimental construct (experimentalConstruct element).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:sequence>
                <xs:element name="startStatus" type="idf:cvType">
                    <xs:annotation>
                        <xs:documentation>
                            Attribute of the start positions, e.g. "certain" or "n-terminal", controlled by the PSI-ID CV.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:choice minOccurs="0">
                    <xs:element name="begin" type="idf:position">
                        <xs:annotation>
                            <xs:documentation>
                                The integer position gives the begin position of the region/feature, with respect to the sequence of 
                                the experimental construct, which itself is mapped to the sequence of the source molecule. The first 
                                base or amino acid of the reference sequence is position 1. In combination with the numeric value, the 
                                attribute 'status' allows to express fuzzy positions, e.g. 'less than 4'.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="beginInterval" type="idf:interval">
                        <xs:annotation>
                            <xs:documentation>
                                The begin position may be varying or unclear, but localisable to a certain range. Usually written as 
                                e.g. 3..5.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
            <xs:sequence>
                <xs:element name="endStatus" type="idf:cvType">
                    <xs:annotation>
                        <xs:documentation>
                            Attribute of the end positions, e.g. "certain" or "c-terminal", controlled by the PSI-ID CV.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:choice minOccurs="0">
                    <xs:element name="end" type="idf:position">
                        <xs:annotation>
                            <xs:documentation>
                                The integer position gives the end position of the region/feature, with respect to the sequence of the 
                                experimental construct, which itself is mapped to the sequence of the source molecule. The first base 
                                or amino acid of the reference sequence is position 1. In combination with the numeric value, the 
                                attribute 'status' allows to express fuzzy positions, e.g. 'more than 400'.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="endInterval" type="idf:interval">
                        <xs:annotation>
                            <xs:documentation>
                                The end position may be varying or unclear, but localisable to a certain range. Usually written as e.g.
                                3..5.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
            <xs:element name="isLink" type="xs:boolean" default="false" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        True if the described feature is a linking feature connecting two amino acids rather than extending along the 
                        sequence. 'begin' references the first amino acid, 'end' the second. Standard example is a disulfide bridge. 
                        Does not reference another feature, therefore is only suitable for linking features on the same amino acid 
                        chain.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="position">
        <xs:attribute name="position" type="xs:long" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="interval">
        <xs:annotation>
            <xs:documentation>
                An interval on a sequence.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="begin" type="xs:long" use="required"/>
        <xs:attribute name="end" type="xs:long" use="required"/>
    </xs:complexType>
    
    
    <!--attributelist and attribute-->
    
    <xs:complexType name="attributeList">
        <xs:annotation>
            <xs:documentation>
                A list of additional attributes. Open tag-value list to allow the inclusion of additional (annotation of) data.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="attribute" type="idf:attribute" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="attribute">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required">
                    <xs:annotation>
                        <xs:documentation>
                            The name of the attribute, controlled by the PSI-ID CV.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="nameAc" use="optional">
                    <xs:annotation>
                        <xs:documentation>
                            Enables control of the attribute type by using terms from the PSI-ID CV (attribute name branch).
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
 
</xs:schema>